<div id="<%= dom_id transaction %>">
  <p>
    <strong>Payer:</strong>
    <%= transaction.payer %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= transaction.points %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= transaction.timestamp %>
  </p>

</div>
